<div class="sidebar">
  <div class="profile-section">
    <img src="path_to_profile_picture" alt="Profile Picture">
    <h3>Edgar Junes</h3>
    <span>Admin</span>
  </div>
  <ul class="menu">
    <li><a routerLink="/dashboard">Inicio</a></li>
    <li><a routerLink="/dashboard/products">Productos</a></li>
    <li><a routerLink="/dashboard/clients">Clientes</a></li>
    <li><a routerLink="/dashboard/payment">Pago</a></li>
    <li><a routerLink="/dashboard/invoice">Boleta de Pago</a></li>
    <li><a routerLink="/dashboard/settings">Configuración</a></li>
  </ul>
  <button class="logout">Logout</button>
</div>
